<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lim.afwing"
    android:versionCode="6"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.lim.afwing.applications.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Afwing" >
        <activity
            android:name="com.lim.afwing.activitys.WelcomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lim.afwing.activitys.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lim.afwing.activitys.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lim.afwing.activitys.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.lim.afwing.services.LoadWebDataService" >
        </service>

        <provider
            android:name="com.lim.afwing.dao.DataProvider"
            android:authorities="com.lim.afwing.provider" >
        </provider>

        <receiver android:name="com.lim.afwing.utils.NetReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.lim.afwing.activitys.SearchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>